Gabrielle Herrick deliverable 6 2/23/2023

In [50]:
#importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [51]:
#loading the iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [52]:
#STEP 3
iris = iris.drop(labels = 'species', axis = 1) 
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [53]:
#step 4
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width'] 
iris ['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [56]:
#step 5 creating the dictionary for the dataframe
mean = [np.mean(iris['sepal_length']), 
        np.mean(iris['sepal_width']),
        np.mean(iris['sepal_sum']),
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width']),
        np.mean(iris['petal_width'])]

std = [np.std(iris['sepal_length']), 
        np.std(iris['sepal_width']),
        np.std(iris['sepal_sum']),
        np.std(iris['petal_length']),
        np.std(iris['petal_width']),
        np.std(iris['petal_width'])]


min = [np.min(iris['sepal_length']), 
        np.min(iris['sepal_width']),
        np.min(iris['sepal_sum']),
        np.min(iris['petal_length']),
        np.min(iris['petal_width']),
        np.min(iris['petal_width'])]


max = [np.max(iris['sepal_length']), 
        np.max(iris['sepal_width']),
        np.max(iris['sepal_sum']),
        np.max(iris['petal_length']),
        np.max(iris['petal_width']),
        np.max(iris['petal_width'])]


summary_dict = { 'mean' :mean, 'standard dev'  :std, 'maximum' : max , 'minimum': min}
summary_df = pd.DataFrame(data = summary_dict, index = list(iris.columns))

summary_df

                  mean  standard dev  maximum  minimum
sepal_length  5.843333      0.825301      7.9      4.3
sepal_width   3.057333      0.434411      4.4      2.0
petal_length  8.900667      0.886303     11.7      6.8
petal_width   3.758000      1.759404      6.9      1.0
sepal_sum     1.199333      0.759693      2.5      0.1
petal_sum     1.199333      0.759693      2.5      0.1

In [40]:
#step 6

In [18]:
iris.describe() #this is the easy way to do it. We're gonna do it the LONG way bc **learning**

,sepal_length,sepal_width,petal_length,petal_width,sepal_sum,petal_sum
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,8.900667,4.957333
std,0.828066,0.435866,1.765298,0.762238,0.889272,2.507689
min,4.300000,2.000000,1.000000,0.100000,6.800000,1.200000
25%,5.100000,2.800000,1.600000,0.300000,8.300000,1.800000
50%,5.800000,3.000000,4.350000,1.300000,8.850000,5.650000
75%,6.400000,3.300000,5.100000,1.800000,9.575000,7.000000
max,7.900000,4.400000,6.900000,2.500000,11.700000,9.200000